<!--p>
  invoices works!
</p-->

<jce-invoice-form (invouceAdded)= "addInvoice($event)"></jce-invoice-form>

<jce-spinner [visible] = "isLoading"> </jce-spinner>
<div>
  <br>
  <p> List of invoices </p> 
  <ul class="list-group invoices">
    <li *ngFor="let invoice of invoices" 
    [class.active]="currentInvoice == invoice" 
    (click) = "select(invoices)"
    class="list-group-item" >
  <jce-invoice [invoice] = "invoice"> </jce-invoice>
    </li>
  </ul>
</div>