<!--p>
  invoice works!
Name: {{invoice.name}},

Amount: {{invoice.amount}}
</p-->


<span *ngIf= "!isEdit"> 
   Product name: {{invoice.name}}, Amount: {{invoice.amount}} </span>
<span *ngIf= "isEdit">
       Name: <input type = "text" [(ngModel)] = "invoice.name" > 
       Amount: <input type = "text" [(ngModel)] = "invoice.amount" > 
</span>